//
//  arm64.xcconfig
//  Sora
//
//  Created by soudegesu on 2021/10/08.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Sora/Pods-Sora.debug.xcconfig"

ARCHS=arm64
VALID_ARCHS=arm64

ONLY_ACTIVE_ARCH=YES
